<div class="col-12 p-0">

  <div class="image-with-text-overlay">

    <div class="{{ block.settings.bottom_spacing }}">

      <div class="card bg-transparent border-0">

        <div class="card-img">

          <div class="d-lg-none">

            <div class="embed-responsive embed-responsive-2by3">

              <div class="embed-responsive-item">

                <img class="lazyload w-100" data-src="{{ block.settings.portrait | img_url : 'master' }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-50">

              </div>

            </div>

          </div>

          <div class="d-none d-lg-block">

            <div class="embed-responsive embed-responsive-16by9">

              <div class="embed-responsive-item">

                <img class="lazyload w-100" data-src="{{ block.settings.landscape | img_url : 'master' }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-50">

              </div>

            </div>

          </div>

        </div>

        <div class="card-img-overlay justify-content-center align-items-center d-flex p-3">

          <div class="title" data-transition="entrance" style="transform : translateY( 50px )">

            <div class="text-center">

              <h1 class="text-uppercase display-1 m-0">

                {{ block.settings.title }}

              </h1>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
