<div class="col-12">

  <div class="logo">

    <div class="text-center">

      <div class="pb-5 mb-5">

        <img src="{{ block.settings.logo }}" height="60">

      </div>

    </div>

  </div>

</div>
