{% form 'create_customer' %}

{{ form.errors | default_errors }}

<div class="form-group mb-2">
    <label class="hidden" for="first_name">First Name</label>
    <input class="form-control mr-1 border-dark" type="text" name="customer[first_name]" placeholder="First Name" />

    <label class="hidden" for="last_name">Last Name</label>
    <input class="form-control ml-1 border-dark" type="text" name="customer[last_name]" placeholder="Last Name" />
</div>

<label class="hidden" for="email">Email Address</label>
<input class="form-control mb-2 border-dark" type="email" name="customer[email]" placeholder="Email" />


<label class="hidden" for="company">Company</label>
<input class="form-control mb-2 border-dark" type="text" name="customer[note][Company]" placeholder="Company" />


<label class="hidden" for="address">Address</label>
<input class="form-control mb-2 border-dark" type="text" name="customer[note][Address]"
    autocomplete="shipping street-address" placeholder="123 Any Street" required>

<label class="hidden" for="city">City</label>
<input class="form-control mb-2 border-dark" type="text" name="customer[note][City]" placeholder="City"
    autocomplete="shipping address-level2" required>

<div class="form-group mb-2">
    <label class="hidden" for="state">State</label>
    <input class="form-control mr-1 border-dark" type="text" name="customer[note][State]" placeholder="State"
        autocomplete="shipping address-level1" required>

    <label class="hidden" for="zip code">Zip</label>
    <input class="form-control ml-1 border-dark" type="text" name="customer[note][Zip]" placeholder="Zip Code"
        autocomplete="shipping postal-code" required>
</div>

<label class="hidden" for="description">Please describe your business</label>
<textarea rows="5" cols="33" class="form-control mb-2 border-dark" type="textarea" name="customer[note][Description]"
    autocomplete="shipping description" placeholder="Please describe your business" required></textarea>


<label class="hidden" for="password">Password</label>
<input class="form-control mb-2 border-dark" type="password" name="customer[password]" autocomplete="current-password"
    placeholder="Password" />

{%- comment -%}
hidden field: tag customer
https://wearetmbr.com/shopify-add-customer-tag-on-user-registration/
{%- endcomment -%}
<input type="hidden" id="customer_tags" name="customer[tags]" value="WholesaleRequest" />

<input class="btn btn-info btn-block py-2" type="submit" value="Register" />

{% endform %}
