<div class="col-12 px-2">

  <div class="title" data-transition="entrance" style="transform : translateY( 50px )">

    <div class="text-center">

      <h1 class="text-uppercase display-1 mb-5">

        {{ block.settings.title }}

      </h1>

    </div>

  </div>

</div>
