/* animations */
.product-image {
	z-index: 1;
	filter: none;
	transition: all 0.3s linear;
	transition-delay: 0s;
}
.background {
	width: 100%;
	position: absolute;
	z-index: 0;
	opacity: 0;
	left: 0;
	top: 0;
	transition: opacity 0.3s linear;
	transition-delay: 0s;
}
.product:hover .product-image {
	transform: scale(0.9);
	-webkit-filter: drop-shadow(5px 5px 18px #000);
	filter: drop-shadow(5px 5px 18px #000);
}
.product:hover .background {
	opacity: 1;
}

.fade-in {
	animation: fadeIn 0.5s linear 0s 1 normal none;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
/* END animations */

// .custom-select[multiple],
// .custom-select[size]:not([size="1"]) {
//     height: auto;
//     padding-right: .75rem;
//     background-image: none
// }


.selectors .rc_block__type--active label select option {
	z-index: 0;
}
.selectors .rc_block__type--active label select option:checked::after,
.pf-product .selectors .rc_block__type--active label select option:checked::after {
	content: "";
	background-color: #fff !important;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.selectors .rc_block__type label select,
.selectors input:not(:checked) label select {
	display: block;
	background-color: transparent;
	color: #fff;
	height: 0;
	border: none;
	overflow: hidden;
	width: 100%;
	margin: 0.5rem 0 0;
	padding: 0;
}
// safari only
.pf_products .selectors .rc_block__type label select {
	width: 125px;
}
/* subscription frequency buttons SHOW */
.selectors .rc_block__type--active label select,
.selectors input:checked label select {
	height: fit-content;
}
// END safari only


    
.selectors .rc_block__type label select option,
.pf-p-variant-radio > div input + label {
	width: auto;
	padding: 0.875em;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border: $buttonBorder;
	border-radius: 0;
	color: #fff;
	font: 65% $font-family-sans-serif;
}
.selectors .rc_block__type label select option,
.pf-product .selectors .rc_block__type label select option {
	width: calc(25% - 0.2rem);
	z-index: 0;
}
.pf-products .selectors .rc_block__type label select option:not(:last-child),
.pf-product .selectors .rc_block__type label select option:not(:last-child) {
	margin-right: 0.25rem;
}
.product-details-row {
	height: auto !important;
}

// .product-details-column {
//     display: flex;
//     flex-direction: column;
// }

/* leaves graphic images */
[data-pf-type="Body"]:before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0063/2333/9362/files/left-leaf.png?v=1592356305);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 9vw;
    height: 400px;
    top: 150vh;
    z-index: 9999999;
}
@media (max-width: 991px) and (min-width: 768px) {
    [data-pf-type="Body"]:before {
        height: 165px;
        top: 31%;
    }
}
@media (max-width: 767px) {
    [data-pf-type="Body"]:before {
        width: 97px;
        height: 130px;
        top: 24%;
    }
}
[data-pf-type="Body"]:after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0063/2333/9362/files/right-leaf.png?v=1592356305);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 9vw;
    height: 328px;
    top: 48vh;
    right: 0;
}
@media (max-width: 991px) and (min-width: 768px) {
    [data-pf-type="Body"]:after {
        top: 70vh;
    }
}   
@media (max-width: 767px) {
    [data-pf-type="Body"]:after {
        width: 80px;
    }
}

/* ipad media queries */
@media (max-width: 991px) and (min-width: 768px) {
    .quantity-row > div:first-child {
        padding-right: 0 !important;
    }

    .quantity-row > div:last-child {
        flex-basis: 28%;
    }
    
    .form-group.quantity {
        display: flex;
    }

    .quantity-row {
        margin: 0;
    }

    .quantity-row > div {
        padding-top: 0;
        padding-bottom: 0;
    }

    button.product__add-to-cart-button {
        margin-left: 0 !important;
    }

    .name-price-row > div {
        padding: 0 !important;
    }
} /* END ipad media queries */

@media (max-width: 767px) {
    .form-group.quantity {
        justify-content: flex-end;
        flex: 1 0 8%;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }
}
// jquery UI

// [multiple] option {
// 	margin: 3px;
// 	padding: 1px;
// 	float: left;
// 	width: 100px;
// 	height: 80px;
// 	font-size: 4em;
// 	text-align: center;
// }
// [multiple] .ui-selecting {
// 	background: #707070;
// }
// [multiple] .ui-selected {
// 	background: #eeeeee;
// 	color: #000000;
// }
// [multiple] {
// 	list-style-type: none;
// 	margin: 0;
// 	padding: 0;
// 	width: 20%;
// }
// [multiple] li {
// 	margin: 3px;
// 	padding: 0.4em;
// 	font-size: 16px;
// 	height: 18px;
// }
