.wholesale-fancybox {
  width: 35vw;
  min-width: 400px;
  max-width: 500px; }
  .wholesale-fancybox p {
    text-align: center; }

.wholesale-contact-form {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0; }
  .wholesale-contact-form form {
    margin: 0 auto; }
  .wholesale-contact-form li.type-text,
  .wholesale-contact-form li.type-textarea {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    align-items: baseline; }
  .wholesale-contact-form label {
    margin-right: 15px; }
  .wholesale-contact-form input,
  .wholesale-contact-form textarea {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-transform: none; }
  .wholesale-contact-form li.type-submit {
    align-self: center; }
  .wholesale-contact-form #name,
  .wholesale-contact-form #email,
  .wholesale-contact-form #inputStreet,
  .wholesale-contact-form #inputCity {
    width: 100%; }
  .wholesale-contact-form #inputState {
    width: 50%; }
  .wholesale-contact-form #inputZip {
    width: 50%; }
