{% comment %}

  © 2018 Atlas Group, Inc. All rights reserved.

  No portion of this software code may be reproduced, distributed or modified
  without prior express written authorization of Atlas Group, Inc.

  Unauthorized reproduction or copying of this software code, via any medium,
  is strictly prohibited and may subject you to severe legal liability.

{% endcomment %}

<div class="index">

  {{ content_for_index }}

</div>

<img src="https://rtd-tm.everesttech.net/upi/?sid=PgNkjVCeluBOJWZC6sDa&cs=1" class="tracking-snippet">

